.section{
    display: inline-block;
    flex-grow: 1;
}

.article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview-essentials, .preview-group-buy, .preview-board{
    border: 1px solid #ccc;
}

.preview-dabang, .preview-succession{
    display: inline-block;
    flex-grow: 1;
    border: 1px solid #ccc;
}

.preview-find-house{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.preview-title{
    text-align: left;
    font-size: 20px;
    padding: 15px 0 0 15px;
}

.preview-article{
    margin: 5px 15px;
    border: 1px solid #ccc;
}

.preview-more{
    text-align: right;
    padding: 0 15px 5px 0;
    color: #ccc;
}