html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.wrapper{
    width: 100%;
    height: 100%;
}

.header{
    text-align: center; 
    border-bottom: 1px solid #ccc;
}
.main{
    width: 976px;
    margin: 10px auto;
}

a{
    text-decoration: none;
    color: black;
}