html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
}

.header{
    text-align: center; 
    border-bottom: 1px solid #ccc;
}
.main{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}