{% load static %}

<!-- 광고 배너 -->
<div class="ad-banner board-banner">
    <div class="banner-content">
        <div class="first banner showing"></div>
        <div class="second banner"></div>
        <div class="third banner"></div>
        <div class="fourth banner"></div>

        <div class="banner-count">
            <div class="first count js-clicked-count"></div>
            <div class="second count"></div>
            <div class="third count"></div>
            <div class="fourth count"></div>
        </div>
    </div>
</div>