{% extends 'base_index.html' %}
{% load static %}
{% block main %}
    <!-- index 화면의 main 내용 -->
    <div class="main dabang_board">
        <div class="container">
            <div class="section">
                <!-- 자취생 필수템 및 로그인 박스 -->
                <div class="article">
                    <!-- 자취생 필수템 미리보기 -->
                    <div class="preview-essentials">
                        <div class="preview-title">자취생 필수템</div>

                        <div class="preview-article essentials-board-size">
                            height 임의로 설정해뒀음(content 작성 후 height style 제거)
                            <div class="preview-more">
                                <a class="more" href={% url 'board' name='essentials' %}>더보기 ...</a>
                            </div>
                        </div>
                    </div>

                    {% if request.user.is_authenticated %}
                        <!-- 로그인 이후 -->
                        <div id="after-login" class="article-box">
                            <!-- 로그인 이후 박스 -->
                            <div class="login-box after-login">
                                <div class="login-after-user-info">
                                    <div class="login-user-img">
                                        <img src="{{target_user.profile.image.url}}" alt="">
                                    </div>
                                    <div class="login-user-info">
                                        <h6>{{ request.user.username }}님이 로그인중</h6>
                                        <a href={% url 'logout' %}>
                                            <button class="login_btn">로그아웃</button>
                                        </a>
                                        <h6>이메일: {{ request.user.email }}</h6>
                                        <h6>생년월일: {{ request.user.birthday }}</h6>
                                        <h6>전화번호: {{ request.user.phone }}</h6>
                                        <a href="{% url 'detail' pk=request.user.pk %}">
                                            <button class = "login_btn">프로필보기</button>
                                        </a>
                                    </div>
                                </div>
                                <hr style="border: 1px solid #ccc;">
                                <div class="login-after-user-bar">
                                    1. 주소 등록하기 (등록시 주소 표시?)
                                    <br>
                                    2. 내 게시글 확인
                                    <br>
                                    3. 공동구매 참여 현황
                                    <br>
                                    4. 기타 등등의 정보 표시
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- 로그인 이전 박스 및 광고 -->
                        <div id="before-login" class="article-box">
                            <!-- 로그인 박스 -->
                            <div class="login-box">
                                <div class="login-user">
                                    <a href={% url 'login' %}>
                                        <button id="login_btn">로그인</button>
                                    </a>
                                </div>
                                <div class="info-user">
                                    <a href={% url 'register' %}>회원가입</a>
                                    <div class="separate-line">|</div>
                                    <a href={% url 'findID' %}>아이디 찾기</a>
                                    <div class="separate-line">|</div>
                                    <a href={% url 'findPW1' %}>비밀번호 찾기</a>
                                </div>
                            </div>
                            <!-- 광고 -->
                            <div class="small-ad">
                                <img src="https://cdn.imweb.me/upload/S202012024cbcaa94f0469/3ef91e34b935f.png" alt="ad"
                                     width="226px" height="127px"/>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- content -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}