{% extends 'extends/main.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-12">
        <div class="board-article">
            <div class="article-top">
                <div class="article-title">
                    <span>{{ article.title }}</span>
                </div>
                <div class="article-date">
                    <span>{{ article.date }}</span>
                </div>
            </div>
            <div class="article-info">
                <div class="article-writer">
                    <!-- ㅇ 에 profile_image 받아주세요 -->
                    ㅇ{{ article.writer }}
                </div>
                <div class="article-user">
                    <div class="article-views">
                        조회 수 {{ article.views }}
                    </div>
                    <div class="article-upvote">
                        추천 수 {{ article.upvote }}
                    </div>
                    <div class="article-comment">
                        <!-- ??에 댓글 수 받아주세요 -->
                        댓글 수 ??
                    </div>
                </div>
            </div>
            <div class="article-content-box">
                <div class="article-content">
                    {{ article.content }}
                </div>
            </div>
        </div>

        <div class="board-article-lnb">
            <div class="board-article-before">
                <a class="move-article" href="">< 이전 글</a>
            </div>
            <div class="board-article-home">
                <a class="move-article-list" href={% url 'board' name=url %}>목록으로</a>
            </div>
            <div class="board-article-update">
                <a class="move-article-update" href={% url 'update' name=url pk=article.id%}>수정</a>
            </div>
            <div class="board-article-after">
                <a class="move-article" href="">다음 글 ></a>
            </div>
        </div>

        <div class="board-article-comment">
            <div class="comment-count">
                <!-- ??에 댓글 수 받아주세요 -->
                댓글 ??개
            </div>
            <div class="comment-box">
                <!-- 댓글 동적으로 받아주세요 -->
                댓글 -------
            </div>
        </div>
    </div>
</div>
{% endblock %}