{% extends 'header.html' %}
{% load static %}
{% block footer %}
    {% block content %}
    {% endblock %}
    <!-- 광고 배너 -->
    <div class="ad-banner board-banner">
        <div class="banner-content">
            <div class="first banner showing"></div>
            <div class="second banner"></div>
            <div class="third banner"></div>
            <div class="fourth banner"></div>

            <div class="banner-count">
                <div class="first count js-clicked-count"></div>
                <div class="second count"></div>
                <div class="third count"></div>
                <div class="fourth count"></div>
            </div>
        </div>
    </div>

    <!-- footer 정보 -->
    <div class="footer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae
        optio explicabo cupiditate tempore dolores suscipit quo corporis,
        adipisci exercitationem nesciunt consequatur atque dolorem officiis
        labore reprehenderit voluptates amet deserunt?
    </div>

    <!-- Scroll To top btn -->
    <div class="scroll-top-btn">
        <span><a href="#header">TOP</a></span>
    </div>
{% endblock %}