{% extends 'footer.html' %}
{% load static %}
{% block content %}
    <!-- 최신 & 핫 게시물 -->
    <div class="article preview-even">
        <div class="preview-post">
            <div class="preview-title">핫 게시물</div>
            <div class="preview-post-content">
                <div class="top-info preview-top-info">
                    <div class="id"><span>순위</span></div>
                    <div class="title"><span>제목</span></div>
                    <div class="recommendation"><span>추천</span></div>
                </div>

                <div class="preview-post-box">content</div>
            </div>
        </div>
        <div class="preview-post">
            <div class="preview-title">최신 게시물</div>
            <div class="preview-post-content">
                <div class="top-info preview-top-info">
                    <div class="id"><span>순위</span></div>
                    <div class="title"><span>제목</span></div>
                    <div class="writer"><span>글쓴이</span></div>
                </div>

                <div class="preview-post-box">content</div>
            </div>
        </div>
    </div>

    <!-- 광고 배너 -->
    <div class="ad-banner">
        <div class="banner-content">
            <div class="first banner showing"></div>
            <div class="second banner"></div>
            <div class="third banner"></div>
            <div class="fourth banner"></div>

            <div class="banner-count">
                <div class="first count js-clicked-count"></div>
                <div class="second count"></div>
                <div class="third count"></div>
                <div class="fourth count"></div>
            </div>
        </div>
    </div>

    <!-- 자유 게시판 미리보기 -->
    <div class="article preview-board">
        <div class="preview-title">자유 게시판</div>

        <div class="preview-article">
            자유 게시판
            <div class="preview-more">
                <a class="more" href={% url 'board' %}>더보기 ...</a>
            </div>
        </div>
    </div>

    <!-- 다방, 승계 미리보기 -->
    <div class="article preview-even">
        <div class="preview-dabang">
            <div class="preview-title">다방</div>
            <div class="preview-article">
                다방 게시판
                <div class="preview-more">
                    <a class="more" href={% url 'dabang' %}>더보기 ...</a>
                </div>
            </div>
        </div>

        <div class="preview-succession">
            <div class="preview-title">승계</div>

            <div class="preview-article">
                승계 게시판
                <div class="preview-more">
                    <a class="more" href={% url 'succession' %}>더보기 ...</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 공동 구매 미리보기 -->
    <div class="article preview-group-buy">
        <div class="preview-title">공동 구매</div>

        <div class="preview-article">
            게시판
            <div class="preview-more">
                <a class="more" href={% url 'group' %}>더보기 ...</a>
            </div>
        </div>
    </div>
{% endblock %}