{% extends 'extends/main.html' %}

{% block content %}
    <div class="board-title-name">
        {{ name }} 게시판
        {% if isEdit %}
            수정
        {% else %}
            글쓰기
        {% endif %}
    </div>

    <div class="col-12 write-container">
        <form class="write-form" method="POST">
            {% csrf_token %}
            <div class="write-title-box">
                <input id="post_title" type="text" name="title" placeholder="제목을 입력하세요." value="{{ title }}" required>
            </div>

            <div class="write-btn-box">
                <button type="button" id="image_upload_btn" class="upload-btn" onclick="loadImage()">사진</button>
                <button type="button" id="left_align_btn" class="upload-btn" onclick="leftAlign()">왼쪽 정렬</button>
                <button type="button" id="middle_align_btn" class="upload-btn" onclick="middleAlign()">중앙 정렬</button>
                <button type="button" id="right_align_btn" class="upload-btn" onclick="rightAlign()">오른쪽 정렬</button>
                <button type="button" id="font_btn" class="upload-btn">글꼴</button>
            </div>
            <div class="write-content-box">
                <textarea class="write-content" rows="25" name="content" placeholder="내용을 입력하세요."
                          required>{{ content }}</textarea>
            </div>
            <div class="write-footer">
                {% if need_addr %}
                    <!-- 주소 등록 영역 -->
                    <div class="address-box">
                        {% include 'address_form.html' %}
                    </div>
                {% endif %}
                {% if isEdit %}
                    <input type="submit" value="수정">
                {% else %}
                    <input type="submit" value="글쓰기">
                {% endif %}
            </div>
            <input type="hidden" name="alignStatus" value="left">
        </form>
    </div>
{% endblock %}