{% load static %}

<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/wrapStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/headerStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/sectionStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/additionStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slideStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/boardSectionStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/topMoveBtn.css' %}"/>
    <!-- title icon 설정 필요 -->
    <link rel="shortcum icon" href="#"/>
    <title>방도리</title>
</head>
<body>
<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>

<script>
    const after_login = document.querySelector(".after-login"),
        before_login = document.querySelector(".before-login");

    const NONE = "none";
    const logged_in = "{{user_logged_in}}";

    if (logged_in) {
        before_login.classList.add(NONE);
        after_login.classList.remove(NONE);
    } else {
        after_login.classList.add(NONE);
        before_login.classList.remove(NONE);
    }
</script>
<script src="{% static 'js/topMove.js' %}"></script>
<script src="{% static 'js/topSearch.js' %}"></script>
<script src="{% static 'js/sliderBanner.js' %}"></script>
</body>
</html>
