
<div id="index-box">
    <div style="border-bottom :2px solid #96ceb4;"><br><br></div><br>
    <div id="myinfo-list" class="index-list" onClick="changeInfo(); location.href='{% url 'profileapp:myinfo' %}'">내 정보</div>
    <div id="mynotice-list" class="index-list" onClick="changePost(); location.href='{% url 'profileapp:mypost' %}'">내가 쓴 글</div>
    <div id="bookmark-list" class="index-list" onClick="changeBookmark(); location.href='{% url 'profileapp:favorites' %}'">추천 게시글</div>
    <div id="address-list" class="index-list" onClick="changeAddress(); location.href='{% url 'profileapp:address' %}'">주소 설정</div>
    <div id="corporate-list" class="index-list" onClick="changeCorporate(); location.href='{% url 'profileapp:register' %}'">사업자 등록</div>
</div>